In [3]:
import pandas as pd
import numpy as np

terror_db = pd.read_excel('../databases/globalterrorismdb_0522dist.xlsx')

In [5]:
terror_db.sample(5)

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
26135,198509040007,1985,9,4,NaN,0,NaT,110,Lebanon,10,...,NaN,NaN,NaN,NaN,PGIS,1,1,0,1,NaN
19060,198306130015,1983,6,13,NaN,0,NaT,159,Peru,3,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
8080,197904140004,1979,4,14,NaN,0,NaT,69,France,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,0,-9,NaN
157996,201601150040,2016,1,15,NaN,0,NaT,217,United States,1,...,NaN,"""Muslim Man Beaten in the Bronx by Ski-Masked ...","""Teens who assaulted Muslim man chanted 'ISIS,...","""Two teens arrested for allegedly attacking Br...",START Primary Collection,-9,-9,1,1,NaN
119519,201307250012,2013,7,25,NaN,0,NaT,4,Afghanistan,6,...,NaN,"""Two blasts kill 5 Afghans, wound 14,"" Xinhua ...","""16 dead, wounded in separate blasts,"" Frontie...","""'7 killed in bomb blast in Afghanistan',"" Pre...",START Primary Collection,-9,-9,0,-9,NaN

In [7]:
list(terror_db.columns)

['eventid',
 'iyear',
 'imonth',
 'iday',
 'approxdate',
 'extended',
 'resolution',
 'country',
 'country_txt',
 'region',
 'region_txt',
 'provstate',
 'city',
 'latitude',
 'longitude',
 'specificity',
 'vicinity',
 'location',
 'summary',
 'crit1',
 'crit2',
 'crit3',
 'doubtterr',
 'alternative',
 'alternative_txt',
 'multiple',
 'success',
 'suicide',
 'attacktype1',
 'attacktype1_txt',
 'attacktype2',
 'attacktype2_txt',
 'attacktype3',
 'attacktype3_txt',
 'targtype1',
 'targtype1_txt',
 'targsubtype1',
 'targsubtype1_txt',
 'corp1',
 'target1',
 'natlty1',
 'natlty1_txt',
 'targtype2',
 'targtype2_txt',
 'targsubtype2',
 'targsubtype2_txt',
 'corp2',
 'target2',
 'natlty2',
 'natlty2_txt',
 'targtype3',
 'targtype3_txt',
 'targsubtype3',
 'targsubtype3_txt',
 'corp3',
 'target3',
 'natlty3',
 'natlty3_txt',
 'gname',
 'gsubname',
 'gname2',
 'gsubname2',
 'gname3',
 'gsubname3',
 'motive',
 'guncertain1',
 'guncertain2',
 'guncertain3',
 'individual',
 'nperps',
 'nperpcap',
 'claimed',
 'claimmode',
 'claimmode_txt',
 'claim2',
 'claimmode2',
 'claimmode2_txt',
 'claim3',
 'claimmode3',
 'claimmode3_txt',
 'compclaim',
 'weaptype1',
 'weaptype1_txt',
 'weapsubtype1',
 'weapsubtype1_txt',
 'weaptype2',
 'weaptype2_txt',
 'weapsubtype2',
 'weapsubtype2_txt',
 'weaptype3',
 'weaptype3_txt',
 'weapsubtype3',
 'weapsubtype3_txt',
 'weaptype4',
 'weaptype4_txt',
 'weapsubtype4',
 'weapsubtype4_txt',
 'weapdetail',
 'nkill',
 'nkillus',
 'nkillter',
 'nwound',
 'nwoundus',
 'nwoundte',
 'property',
 'propextent',
 'propextent_txt',
 'propvalue',
 'propcomment',
 'ishostkid',
 'nhostkid',
 'nhostkidus',
 'nhours',
 'ndays',
 'divert',
 'kidhijcountry',
 'ransom',
 'ransomamt',
 'ransomamtus',
 'ransompaid',
 'ransompaidus',
 'ransomnote',
 'hostkidoutcome',
 'hostkidoutcome_txt',
 'nreleased',
 'addnotes',
 'scite1',
 'scite2',
 'scite3',
 'dbsource',
 'INT_LOG',
 'INT_IDEO',
 'INT_MISC',
 'INT_ANY',
 'related']

In [30]:
terror_db.describe()

,eventid,iyear,imonth,iday,extended,country,region,latitude,longitude,specificity,...,ransomamt,ransomamtus,ransompaid,ransompaidus,hostkidoutcome,nreleased,INT_LOG,INT_IDEO,INT_MISC,INT_ANY
count,2.097060e+05,209706.000000,209706.000000,209706.000000,209706.000000,209706.000000,209706.000000,205015.000000,205014.000000,209705.000000,...,1.533000e+03,7.340000e+02,9.510000e+02,725.000000,14091.000000,13494.000000,209706.000000,209706.000000,209706.000000,209706.000000
mean,2.004867e+11,2004.800993,6.455285,15.527930,0.051525,130.291351,7.279854,23.358696,30.416738,1.468387,...,2.791526e+06,3.211036e+05,6.204108e+05,182.750345,4.705912,-31.945531,-4.424289,-4.339318,0.086841,-3.850758
std,1.351933e+09,13.519321,3.387098,8.801104,0.221066,111.714562,2.905697,18.137061,56.113029,0.984958,...,2.826923e+07,5.005760e+06,9.195574e+06,2567.718184,2.030311,64.494306,4.543800,4.640302,0.536943,4.677966
min,1.970000e+11,1970.000000,0.000000,0.000000,0.000000,4.000000,1.000000,-53.154613,-176.176447,1.000000,...,-9.900000e+01,-9.900000e+01,-9.900000e+01,-99.000000,1.000000,-100.000000,-9.000000,-9.000000,-9.000000,-9.000000
25%,1.992080e+11,1992.000000,4.000000,8.000000,0.000000,69.000000,6.000000,11.510046,8.748117,1.000000,...,0.000000e+00,0.000000e+00,-9.900000e+01,0.000000,2.000000,-99.000000,-9.000000,-9.000000,0.000000,-9.000000
50%,2.012010e+11,2012.000000,6.000000,15.000000,0.000000,98.000000,8.000000,31.300213,43.746215,1.000000,...,1.000000e+04,0.000000e+00,0.000000e+00,0.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2.015123e+11,2015.000000,9.000000,23.000000,0.000000,160.000000,10.000000,34.557022,68.835918,1.000000,...,3.420000e+05,0.000000e+00,6.640600e+02,0.000000,7.000000,1.000000,0.000000,0.000000,0.000000,0.000000
max,2.020123e+11,2020.000000,12.000000,31.000000,1.000000,1004.000000,12.000000,74.633553,179.366667,5.000000,...,1.000000e+09,1.320000e+08,2.750000e+08,48000.000000,7.000000,2958.000000,1.000000,1.000000,1.000000,1.000000

In [9]:
terror_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209706 entries, 0 to 209705
Columns: 135 entries, eventid to related
dtypes: datetime64[ns](1), float64(54), int64(23), object(57)
memory usage: 216.0+ MB

In [11]:
rus_ukr_mask = (terror_db['country_txt'] == 'Russia') | (terror_db['country_txt'] == 'Ukraine')

terror_db[rus_ukr_mask].sample(5)

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
116123,201304150073,2013,4,15,"April 15, 2013",0,NaT,167,Russia,9,...,Casualty numbers for this attack conflict acro...,"""Policeman killed, 3 wounded in blast in Buina...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
70775,200007290005,2000,7,29,NaN,0,NaT,167,Russia,9,...,NaN,"Vladimir Nuyakshev and Vladislav Kuznetsov, ""R...","Yuri Bagrov, ""Chechen rebels fire on Russian f...",NaN,UMD Schmid 2012,0,0,0,0,NaN
140949,201411250062,2014,11,25,NaN,0,NaT,214,Ukraine,9,...,NaN,"""12:02Insurgents attack Ukrainian forces 47 ti...","""At least 1,184 soldiers killed in Russia's wa...","""Ukraine shelled from Russian territory six ti...",START Primary Collection,0,1,0,1,NaN
71673,200101050005,2001,1,5,NaN,0,NaT,167,Russia,9,...,NaN,"â€œRussians ""Mopping Up"" Chechen Town After Murd...","â€œRussia: Elder Murdered in Argun, Three Police...",NaN,CETIS,-9,-9,0,-9,NaN
96767,201006010002,2010,6,1,NaN,0,NaT,167,Russia,9,...,NaN,"National Counterterrorism Center, ""One Vehicle...","Russia & CIS Military Newswire, ""Grenade Found...",NaN,ISVG,-9,-9,0,-9,NaN

In [27]:
rus_ukr_db = terror_db[rus_ukr_mask]
rus_ukr_db.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
49245,199111270012,1991,11,27,NaN,0,NaT,214,Ukraine,9,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
49316,199112010015,1991,12,1,NaN,0,NaT,214,Ukraine,9,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
49690,199201060001,1992,1,6,NaN,0,NaT,167,Russia,9,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,0,-9,NaN
49700,199201060012,1992,1,6,NaN,0,NaT,167,Russia,9,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,0,-9,NaN
49830,199201170003,1992,1,17,NaN,0,NaT,167,Russia,9,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,0,-9,NaN